.feito{
    text-decoration: line-through;
}

.desc{
    width: 70%;
    max-width: 70%;
    text-align: left;
}


.cardHover:hover {
    background: #F2F2FC;
}


.boxTarefas{
    height: 100%;
    max-height: 71vh;
    overflow-y: scroll;

}

.formUser{
    align-items: flex-start;
    text-align: left;
    justify-items: flex-start;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.selec{
    max-width: 11vw;
}


.botao{
    cursor: pointer;
}

.botao:hover{
    color: white;
}

.modile{
    flex-direction: row;
}

