.feito{
    text-decoration: line-through;
}

.desc{
    width: 70%;
    max-width: 70%;
}


.cardHover:hover {
    background: #F2F2FC;
}


.boxTarefas{
    height: 100%;
    max-height: 80vh;
    overflow-y: scroll;

}